{% extends 'base.html'%} {% block content%} {% load static %}
<div class="container-fluid">

  <h1 style="text-align: center; padding-top: 3rem; color: blue">
    Bellow We Have Some Books For You To Read :)
  </h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Genres</th>
        <th>Writer</th>
        <th>ISBN</th>
        <th>Publisher</th>
        <th>Rating</th>
        <th>Page Number</th>
        <th>Published Year</th>
      </tr>
    </thead>
    <tbody>
      {%for item in items %}
      <tr>
        <td>{{item.pk}}</td>
        <td>{{item.name}}</td>
        <td>{{item.genres}}</td>
        <td>{{item.writer}}</td>
        <td>{{item.isbn}}</td>
        <td>{{item.publisher}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.page_num}}</td>
        <td>{{item.pub_year}}</td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
  <div style="margin-top: 40px"></div>
</div>

{% endblock %}
