{% load static %}
<!DOCTYPE html>  
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <meta name="description" content="main pages BookWork">
        <meta name="author" content="Ashraf Yawar">
       
        <link href={% static 'css/styles.css'%} rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href={% static 'css/heading.css'%}>
        <link rel="stylesheet" href={% static 'css/body.css'%}>

        <link rel="stylesheet" href={% static 'js/all.js'%}>
        <!-- <link rel="stylesheet" href={% static 'js/brand.js'%}> -->
        <link rel="stylesheet" href={% static 'js/solid.js'%}>
        <link rel="stylesheet" href={% static 'js/fontawesome.js'%}>
        <link rel="shortcut icon" href={% static 'img/Bookicon.png'%} type="image/x-icon">

        <title>Home - Book Worm</title>
        <style>body{background-color: #2c2f33;}
        </style>
    </head>

    <body onload="change_display_type()" style="overflow-x: hidden;" id="page-top">
        
        <div class="book" id="loader_div" style="display: block;">
            <div class="inner">
                <div class="left"></div>
                <div class="middle"></div>
                <div class="right"></div>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a class="dribbble"><img src={% static 'img/logo.png' %} style="height: 4rem; width: 12rem;" /></a>
        </div>

        <div class="container-fluid" id="main_content" style="display: none;">
            <nav class="navbar navbar-expand-lg bg-danger fixed-top navbar-shrink" id="mainNav">
                <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top"> <img src={% static 'img/logo.png'%} alt="logo"></a>
                    <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded collapsed"
                     type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">Menu <svg class="svg-inline--fa fa-bars fa-w-14"
                    aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor"
                    d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
                    </path></svg><!-- <i class="fas fa-bars"></i> --></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger active" href="#portfolio">MORE BOOKS</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">ABOUT US</a>
                            </li>
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
            <header class="masthead bg-alarm text-white text-center">
                <div class="container d-flex align-items-center flex-column">
                    <!-- Masthead Avatar Image-->
                    <img src="https://img.icons8.com/dusk/250/000000/book.png"/>
                    <br><br>
                    <!-- Masthead Heading-->
                    <h1 class="masthead-heading mb-0 text-white">BOOK WORM&nbsp;</h1>
                    <!-- Masthead Subheading-->
                    <p class=" text-white pre-wrap masthead-subheading font-weight-light mb-0">We Find The Right Books For You !</p>
                </div>
                <br><br><br>
                <div>
                <form style="text-align: center" action="user_choice" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm 4"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-warning btn-lg btn-block" name="yes_enter" value="yes">
                                <em class="h3">Already a <strong><em>Bookworm</em></strong> </em> 
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm 4"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-warning btn-lg btn-block" name="no_enter" value="no">
                                <em  class="h3">Want To Be a <strong><em>Bookworm</em></strong> </em>
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>

                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm 4"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" name="search" value="no">
                                <em  class="h3">SEARCH BY TYPE</em>
                            </button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    </form>
            </header>
            </div>
            <section style="background-color: #2c2f33; padding-top:0%" class="page-section portfolio" id="portfolio">
                <div class="container">
                    <!-- Portfolio Section Heading-->
                    <div class="text-center">
                        <h2 class="  text-white page-section-heading  mb-0 d-inline-block">FEATURED BOOKS</h2>
                    </div>
                    <!-- Icon Divider-->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fas fa-star"></i> --></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Portfolio Grid Items-->
                    <div class="row justify-content-center">
                        <!-- Portfolio Items-->
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> --></div>
                                </div><img style='height: 25rem; width: 100%; object-fit: inherit' src="{{ books.0.image_url }}" class="img-fluid"  alt="book_photo">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> --></div>
                                </div><img style='height: 25em; width: 100%; object-fit: inherit' src="{{ books.1.image_url }}" class="img-fluid" alt="book_photo">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> --></div>
                                </div><img style='height: 25em; width: 100%; object-fit: inherit' src="{{ books.2.image_url }}" class="img-fluid" alt="Don Quixote">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> --></div>
                                </div><img style='height: 25em; width: 100%; object-fit: inherit' src="{{ books.3.image_url }}" class="img-fluid" alt="book_photo">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> --></div>
                                </div><img style='height: 25em; width: 100%; object-fit: inherit' src="{{ books.4.image_url }}" class="img-fluid" alt="book_photo">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5">
                            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><svg class="svg-inline--fa fa-plus fa-w-14 fa-3x" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg><!-- <i class="fas fa-plus fa-3x"></i> --></div>
                                </div><img style='height:25em; width: 100%; object-fit: inherit' src="{{ books.5.image_url }}"  class="img-fluid" alt="book_photo">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Books Modal-->
            <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                <div class="modal-dialog modal-l" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                            </svg></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12">
                                        <!-- Portfolio Modal - Title-->
                                        <p class=" text-secondary mb-0"> <b>{{books.0.title}} </b></p>
                                        <hr>
                                        <!-- Portfolio Modal - Image--><img style='height: 20rem; width: 90%; object-fit: inherit' src="{{ books.0.image_url }}" class="img-fluid rounded mb-5" alt="book_photo">
                                        <!-- Portfolio Modal - Text-->
                                        <!-- <p class="mb-5">{{book1.description}}</p> -->

                                        <div class="row" style="padding-top: 0px;">
                                            <div class="col-sm-12" class="h5" class="text-center" class="list-group">
                                                <a class="list-group-item list-group-item-action">
                                                <strong class=""> Book Name:</strong> {{books.0.title}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-success">
                                                <strong> Book Author: </strong>{{books.0.writer}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book Type:</strong> {{books.0.genres}}</a>
                                            
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-danger">
                                                <strong>Number Of Pages: </strong>{{books.0.page_num}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-warning">
                                                <strong>Publish Year: </strong>{{books.0.pub_year}}</a>

                                                <a id="change_stars" class="list-group-item list-group-item-action list-group-item-primary">
                                                <strong>Book Rating:</strong> {{books.0.rating}} Stars</a>
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book ISBN:</strong> {{books.0.isbn}}</a>
                                            </div>
                                            </div><br>
                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> -->Close Window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-l" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                            </svg></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12">
                                        <!-- Portfolio Modal - Title-->
                                        <p class=" text-secondary mb-0"> <b>{{books.1.title}} </b></p>
                                        <hr>
                                        <!-- Portfolio Modal - Image--><img style='height: 20rem; width: 90%; object-fit: inherit' src="{{ books.1.image_url }}" class="img-fluid rounded mb-5" alt="book_photo">
                                        <!-- Portfolio Modal - Text-->
                                        <!-- <p class="mb-5">{{book1.description}}</p> -->

                                        <div class="row" style="padding-top: 0px;">
                                            <div class="col-sm-12" class="h5" class="text-center" class="list-group">
                                                <a class="list-group-item list-group-item-action">
                                                <strong class=""> Book Name:</strong> {{books.1.title}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-success">
                                                <strong> Book Author: </strong>{{books.1.writer}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book Type:</strong> {{books.1.genres}}</a>
                                            
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-danger">
                                                <strong>Number Of Pages: </strong>{{books.1.page_num}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-warning">
                                                <strong>Publish Year: </strong>{{books.1.pub_year}}</a>

                                                <a id="change_stars" class="list-group-item list-group-item-action list-group-item-primary">
                                                <strong>Book Rating:</strong> {{books.1.rating}} Stars</a>
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book ISBN:</strong> {{books.1.isbn}}</a>
                                            </div>
                                            </div><br>
                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> -->Close Window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal2Label" aria-hidden="true">
                <div class="modal-dialog modal-l" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                            </svg></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12">
                                        <!-- Portfolio Modal - Title-->
                                        <p class=" text-secondary mb-0"> <b>{{books.2.title}} </b></p>
                                        <hr>
                                        <!-- Portfolio Modal - Image--><img style='height: 20rem; width: 90%; object-fit: inherit' src="{{ books.2.image_url }}" class="img-fluid rounded mb-5" alt="book_photo">
                                        <!-- Portfolio Modal - Text-->
                                        <!-- <p class="mb-5">{{book1.description}}</p> -->

                                        <div class="row" style="padding-top: 0px;">
                                            <div class="col-sm-12" class="h5" class="text-center" class="list-group">
                                                <a class="list-group-item list-group-item-action">
                                                <strong class=""> Book Name:</strong> {{books.2.title}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-success">
                                                <strong> Book Author: </strong>{{books.2.writer}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book Type:</strong> {{books.2.genres}}</a>
                                            
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-danger">
                                                <strong>Number Of Pages: </strong>{{books.2.page_num}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-warning">
                                                <strong>Publish Year: </strong>{{books.2.pub_year}}</a>

                                                <a id="change_stars" class="list-group-item list-group-item-action list-group-item-primary">
                                                <strong>Book Rating:</strong> {{books.2.rating}} Stars</a>
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book ISBN:</strong> {{books.2.isbn}}</a>
                                            </div>
                                            </div><br>
                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> -->Close Window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal3Label" aria-hidden="true">
                <div class="modal-dialog modal-l" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                            </svg></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12">
                                        <!-- Portfolio Modal - Title-->
                                        <p class=" text-secondary mb-0"> <b>{{books.3.title}} </b></p>
                                        <hr>
                                        <!-- Portfolio Modal - Image--><img style='height: 20rem; width: 90%; object-fit: inherit' src="{{ books.3.image_url }}" class="img-fluid rounded mb-5" alt="book_photo">
                                        <!-- Portfolio Modal - Text-->
                                        <!-- <p class="mb-5">{{book1.description}}</p> -->

                                        <div class="row" style="padding-top: 0px;">
                                            <div class="col-sm-12" class="h5" class="text-center" class="list-group">
                                                <a class="list-group-item list-group-item-action">
                                                <strong class=""> Book Name:</strong> {{books.3.title}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-success">
                                                <strong> Book Author: </strong>{{books.3.writer}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book Type:</strong> {{books.3.genres}}</a>
                                            
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-danger">
                                                <strong>Number Of Pages: </strong>{{books.3.page_num}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-warning">
                                                <strong>Publish Year: </strong>{{books.3.pub_year}}</a>

                                                <a id="change_stars" class="list-group-item list-group-item-action list-group-item-primary">
                                                <strong>Book Rating:</strong> {{books.3.rating}} Stars</a>
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book ISBN:</strong> {{books.3.isbn}}</a>
                                            </div>
                                            </div><br>
                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> -->Close Window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal4Label" aria-hidden="true">
                <div class="modal-dialog modal-l" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                            </svg></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12">
                                        <!-- Portfolio Modal - Title-->
                                        <p class=" text-secondary mb-0"> <b>{{books.4.title}} </b></p>
                                        <hr>
                                        <!-- Portfolio Modal - Image--><img style='height: 20rem; width: 90%; object-fit: inherit' src="{{ books.4.image_url }}" class="img-fluid rounded mb-5" alt="book_photo">
                                        <!-- Portfolio Modal - Text-->
                                        <!-- <p class="mb-5">{{book1.description}}</p> -->

                                        <div class="row" style="padding-top: 0px;">
                                            <div class="col-sm-12" class="h5" class="text-center" class="list-group">
                                                <a class="list-group-item list-group-item-action">
                                                <strong class=""> Book Name:</strong> {{books.4.title}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-success">
                                                <strong> Book Author: </strong>{{books.4.writer}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book Type:</strong> {{books.4.genres}}</a>
                                            
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-danger">
                                                <strong>Number Of Pages: </strong>{{books.4.page_num}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-warning">
                                                <strong>Publish Year: </strong>{{books.4.pub_year}}</a>

                                                <a id="change_stars" class="list-group-item list-group-item-action list-group-item-primary">
                                                <strong>Book Rating:</strong> {{books.4.rating}} Stars</a>
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book ISBN:</strong> {{books.4.isbn}}</a>
                                            </div>
                                            </div><br>
                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> -->Close Window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal5Label" aria-hidden="true">
                <div class="modal-dialog modal-l" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                            </svg></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12">
                                        <!-- Portfolio Modal - Title-->
                                        <p class=" text-secondary mb-0"> <b>{{books.5.title}} </b></p>
                                        <hr>
                                        <!-- Portfolio Modal - Image--><img style='height: 20rem; width: 90%; object-fit: inherit' src="{{ books.5.image_url }}" class="img-fluid rounded mb-5" alt="book_photo">
                                        <!-- Portfolio Modal - Text-->
                                        <!-- <p class="mb-5">{{book1.description}}</p> -->

                                        <div class="row" style="padding-top: 0px;">
                                            <div class="col-sm-12" class="h5" class="text-center" class="list-group">
                                                <a class="list-group-item list-group-item-action">
                                                <strong class=""> Book Name:</strong> {{books.5.title}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-success">
                                                <strong> Book Author: </strong>{{books.5.writer}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book Type:</strong> {{books.5.genres}}</a>
                                            
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-danger">
                                                <strong>Number Of Pages: </strong>{{books.5.page_num}}</a>
                                                
                                                <a class="list-group-item list-group-item-action list-group-item-warning">
                                                <strong>Publish Year: </strong>{{books.5.pub_year}}</a>

                                                <a id="change_stars" class="list-group-item list-group-item-action list-group-item-primary">
                                                <strong>Book Rating:</strong> {{books.5.rating}} Stars</a>
                                                <a class="list-group-item list-group-item-action list-group-item-secondary">
                                                <strong>Book ISBN:</strong> {{books.5.isbn}}</a>
                                            </div>
                                            </div><br>
                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> -->Close Window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section style="background-color: #2c2f33;  padding-top:0%" class="page-section text-white mb-0" id="about">
                <div class="container">
                    <!-- About Section Heading-->
                    <div class="text-center">
                        <h2 class="page-section-heading d-inline-block text-white">ABOUT US</h2>
                    </div>
                    <!-- Icon Divider-->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fas fa-star"></i> --></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- About Section Content-->
                    <div class="row">
                        <div class="col-lg-2 mr-auto">
                            <p class="pre-wrap lead"></p>
                        </div>
                        <div class="col-lg-8 ml-auto">
                            <p class="pre-wrap lead">We are a team of passionate web developers and data scientists working on this project called Book Worm. we are planning to expand this project to help people to decide better what book to read next. Help Us To Make It Real.</p>
                       
                        </div>
                        <div class="col-lg-2 mr-auto">
                            <p class="pre-wrap lead"></p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page-section" id="contact" style=" padding-top:0%">
                <div class="container">
                    <!-- Contact Section Heading-->
                    <div class="text-center">
                        <h2 class="page-section-heading text-white d-inline-block mb-0">CONTACT US</h2>
                    </div>
                    <!-- Icon Divider-->
                    <div class="divider-custom divider-light">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fas fa-star"></i> --></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Contact Section Content-->
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-contact mb-3"><svg class="svg-inline--fa fa-mobile-alt fa-w-10" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mobile-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg><!-- <i class="fas fa-mobile-alt"></i> --></div>
                                <div class="text-white"> Office Phone</div>
                                <div class="lead font-weight-bold text-white">(555) 555-5555</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="d-flex flex-column align-items-center">
                                <div class="icon-contact mb-3"><svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" focusable="false" data-prefix="far" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg><!-- <i class="far fa-envelope"></i> --></div>
                                <div class="text-white">Email</div><a class="lead font-weight-bold" href="mailto:gtubookworm@gmail.com">gtubookworm@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer class="footer text-center">
                <div class="container">
                    <div class="row">
                        <!-- Footer Location-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="mb-4">LOCATION</h4>
                            <p class="pre-wrap lead mb-0">Istanbul / Turkey</p>
                        </div>
                        <!-- Footer Social Icons-->
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h4 class="mb-4">TEAM MEMBERS GITHUB ACCOUNTS</h4>
    
                            <a class="btn btn-outline-light btn-social mx-1"  href="https://github.com/ashrafyawar">
                            <i class="fab fa-github"></i> <!-- uses brand style -->
                            </a>

                            <a class="btn btn-outline-light btn-social mx-1"  href="https://github.com/canberkarc">
                                <i class="fab fa-github"></i> <!-- uses brand style -->
                                </a>

                            <a class="btn btn-outline-light btn-social mx-1"  href="https://github.com/CanDuyar">
                                <i class="fab fa-github"></i> <!-- uses brand style -->
                                </a>

                            <a class="btn btn-outline-light btn-social mx-1"  href="https://github.com/jinhussein96">
                                <i class="fab fa-github"></i> <!-- uses brand style -->
                                </a>

                            <a class="btn btn-outline-light btn-social mx-1"  href="https://github.com/yusufferdogan">
                                <i class="fab fa-github"></i> <!-- uses brand style -->
                                </a>
                        </div>

                        <!-- Footer About Text-->
                        <div class="col-lg-4">
                            <h4 class="mb-4">HOW TO CONTRIBUTE</h4>
                            <p class="pre-wrap lead mb-0">You Can Contribute On Our Project Using Github. </p>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Copyright Section-->
            <section class="copyright py-4 text-center text-white">
                <div class="container"><small class="pre-wrap">Copyright © gtubookworm.site 2021 </small></div>
            </section>
        
            <div class="scroll-to-top d-lg-none position-fixed" style="display: block;">
                <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                    <svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                        <path fill="currentColor" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z">
                        </path>
                    </svg><!-- <i class="fa fa-chevron-up"></i> -->
                </a>
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src={% static 'js/scripts.js'%}></script>

       <script type="text/javascript">
            function disable_required(){
                email = document.getElementById('inputEmail').required = false;
                password = document.getElementById('inputPassword').required = false;
            }

            function change_display_type(){
                call_me()
            }

            function call_me(){
                var loader_div = document.getElementById('loader_div');
                var main_content = document.getElementById('main_content');

                loader_div.style.display = "none";
                main_content.style.display = "inline-table";
                document.title = "Main - Book Worm"
            }
            
        </script>

    </body>
</html>
