{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href={% static 'img/Bookicon.png'%} type="image/x-icon">

  <title>Error Page</title>
</head>
<body style="background-color:rgb(218, 205, 201)01, 98);">
  <div style="margin-top: 20rem;" class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h3 style="text-align: center; color:rgb(248, 9, 9)">
          <div class="alert alert-danger" role="alert">
            <h1><strong>Error:</strong> Select Exactly 3 Images :) <span style="font-size: 2rem">&#128578;</span></h1>
          </div>
        </h3>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</body>
</html>